@import "scss/variables";

.background {
  background: url("img/front-page/bg.png");
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 1300px;
}

.middle {
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1218px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 100px;
}

.middle__header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.middle__about {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 71px auto;
  align-items: center;
  text-align: center;
}

.middle__line {
  margin-right: 0;
  margin-left: auto;
  content: "";
  background: $light_orange;
  height: 2px;
  width: 122px;

  &:last-child {
    margin-right: auto;
    margin-left: 0;
  }
}

.middle__about__text {
  font-size: 18px;
  color: #ff5c00;
}

.middle__why {
  margin-top: 12px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #042744;
}

.middle__cart {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.middle__cart__item {
  padding: 20px;
  max-width: 386px;
  //max-height: 198px;
  display: grid;
  grid-template-columns: auto 35.57px auto;
  grid-template-rows: auto;
  box-shadow: 0 4px 10px rgba(3, 34, 60, 0.15);
  border-radius: 4px;
}

.middle__cart__num {
  font-size: 32px;
  font-weight: 700;
  color: #ff5c00;
  margin-right: 0;
  margin-left: auto;
}

.middle__cart__line {
  margin: 0 auto;
  content: "";
  background: $light_orange;
  height: 40px;
  width: 1px;
}

.middle__cart__text {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-row-gap: 10px;
}

.middle__cart__title {
  color: #042744;
  font-weight: 700;
  font-size: 20px;
}

.middle__cart__descr {
  color: #586571;
  font-size: 14px;
  line-height: 18px;
}

.middle__cart__bottom {
  font-weight: 500;
  font-size: 18px;
}

.middle__cart__but {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  background: #ff5c00;
  text-align: center;
  max-width: 282px;
  max-height: 56px;
  margin: 0 auto;
  padding: 16.5px 38px;
  border-radius: 4px;
}

/*Exchange*/

.exchange__wrap {
  max-width: 1218px;
  margin: 0 auto;
  padding-top: 90px;
}

.exchange {
  display: grid;
  grid-template-columns: 546px auto;
  grid-template-rows: auto;
  grid-column-gap: 77px;
  margin-right: 0;
  margin-left: auto;
}

.exchange__text {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 100px;
  padding-top: 201px;
}

.exchange__about {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.exchange__title {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: auto;
  grid-column-gap: 17px;
  align-items: center;
}

.exchange__line {
  content: "";
  background: $light_orange;
  height: 1px;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}

.exchange__about__text {
  font-size: 18px;
  font-weight: 400;
  color: #ff5c00;
}

.exchange__use {
  color: #042744;
  font-weight: 800;
  font-size: 48px;
}

.exchange__descr {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 50px;
}

.exchange__descr__item {
  grid-column-gap: 50px;
  display: grid;
  grid-template-columns: 34px auto;
  grid-template-rows: auto;
}

.exchange__descr__wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 18px;
}

.exchange__descr__title {
  color: #042744;
  font-weight: 600;
  font-size: 24px;
}

.exchange__descr__text {
  color: #586571;
  font-size: 14px;
}

/*STATIC*/

.static__wrap {
  margin-top: 140px;
  background: url("img/front-page/exchange/count.png") no-repeat center;
  background-size: cover;
}

.static {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  max-width: 1218px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.static__item {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}

.static__num {
  color: #ff5c00;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

.static__text {
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

/*How*/

.how__wrap {
  max-width: 1218px;
  margin: 0 auto;
  padding-top: 140px;
  padding-right: 20px;
  padding-left: 20px;
}

.how {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.how__exchange {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.how__title {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: auto;
  grid-column-gap: 17px;
  align-items: center;
}

.how__line {
  content: "";
  background: #ffd5bd;
  height: 1px;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}

.how__about__text {
  font-size: 18px;
  font-weight: 400;
  color: #ff5c00;
}

.how__work {
  color: #042744;
  font-weight: 800;
  font-size: 48px;
}

.how__static {
  margin-top: 140px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 130px;
}

.how__static__mobile {
  display: none;
}

.how__table__web {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: relative;
  opacity: 1;
  transition: all 2s linear;
}

.how__table__adv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: relative;
  opacity: 1;
  transition: opacity 2s linear;
}

.how__table__hide {
  display: none;
  opacity: 0;
}

.how__column__web {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.how__column__adv {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.how__rows {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  max-width: 188px;
}

.how__text {
  font-weight: 600;
  font-size: 18px;
  color: #042744;
  height: 44px;
  display: flex;
  align-items: center;
}

.how__num {
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  min-width: 36px;
  padding: 8px 13px;
  background: #ff5c00;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 33px;
}

.how__static__line {
  content: "";
  width: 1px;
  height: 135px;
  background: #ffdfcd;
  margin: 0 auto;
}

.how__round {
  display: grid;
  grid-template-columns: auto 14px auto;
  grid-template-rows: auto;
  align-items: center;
}

.how__round__line {
  content: "";
  background: #ffdfcd;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 6px;
  z-index: 0;
}

.how__round__circle {
  content: "";
  background: #ff5c00;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  margin: 0 auto;
  z-index: 1;
}

.how__rows__short {
  grid-template-rows: auto auto auto auto auto;
  margin-top: 100px;
}

.how__static__line__short {
  height: 34px;
}

.how__buttons {
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: auto;
  margin: 0 auto;
  text-align: center;
  background: #e8e8e8;
  border-radius: 15px;
}

.how__buttons button,
button:active,
button:focus {
  outline: 0 !important;
}

.how__button {
  font-weight: 600;
  color: #afafaf;
  font-size: 16px;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 11px 0;
  border: none;
  transition: all 0.8s;
}

.how__button__active {
  width: 100%;
  color: #ffffff;
  background: #ff5c00;
  box-shadow: 0 0 10px 2px rgba(255, 92, 0, 0.45);
}

.how__footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin-top: 91px;
  row-gap: 91.5px;
}

.how__footer__text {
  max-width: 743px;
  margin: 0 auto;
  font-size: 38px;
  text-align: center;
  color: #042744;
  font-weight: 700;
}

.how__footer__button {
  color: #ff5c00;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding: 16.5px 38px;
  border: 1px solid #ff5c00;
  text-decoration: none;
  border-radius: 4px;
}

/*Best Ref*/

.best__ref__wrap {
  margin-top: 140px;
  height: 100%;
  width: 100%;
  background: url("img/front-page/best-ref/bgc.png") no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 142px;
}

.best__ref {
  max-width: 1218px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.best__ref__header {
  margin-top: 140px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 23px;
  color: #ffffff;
}

.best__ref__title {
  max-width: 582px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 800;
  font-size: 48px;
}

.best__ref__des {
  max-width: 667px;
  margin: 0 auto;
  font-size: 18px;
  color: #dfdfdf;
  text-align: center;
}

.best__ref__cards {
  margin-top: 107px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 278px;
  column-gap: 67px;
}

.best__ref__card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.best__ref__bgc__1 {
  background: url("img/front-page/best-ref/1.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.best__ref__bgc__2 {
  background: url("img/front-page/best-ref/2.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.best__ref__bgc__3 {
  background: url("img/front-page/best-ref/3.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.best__ref__per {
  margin-top: 73px;
  margin-left: 30px;
  color: #ff5c00;
  font-weight: 700;
  font-size: 100px;
}

.best__ref__about {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  margin: 0 75px 30px 30px;
}

.best__ref__button {
  margin: 0 auto;
  margin-top: 114.5px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background: #ff5c00;
  padding: 16.5px 38px;
  text-decoration: none;
  border-radius: 4px;
}

/* Review */

.review__wrap {
  max-width: 1218px;
  margin: 0 auto;
  padding-top: 140px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 100px;
  margin-bottom: 140px;
}

.review__header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 13px;
}

.review__about {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 115px auto;
  align-items: center;
  text-align: center;
}

.review__line {
  margin-right: 0;
  margin-left: auto;
  content: "";
  background: $light_orange;
  height: 2px;
  width: 122px;
}

.review__line:last-child {
  margin-right: auto;
  margin-left: 0;
}

.review__about__text {
  font-size: 18px;
  color: #ff5c00;
}

.review__descr {
  color: #042744;
  font-weight: 800;
  font-size: 48px;
  margin: 0 auto;
}

.review__cards__wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 80px;
}

.review__slider__inner {
  width: 1218px;
  height: 279px;
  display: flex;
  margin: auto;
}

.review__inner__wrap {
  display: grid;
  grid-template-columns: 594px 594px;
  grid-template-rows: auto;
  column-gap: 30px;
}

.review__card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 24px;
  box-shadow: 0 7px 15px rgba(3, 34, 60, 0.15);
  border-radius: 8px;
  padding: 30px 40px 55px 40px;
  margin: 30px 35px;
}

.review__card__header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 85px auto;
  column-gap: 18px;
}

.review__card__info {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
}

.review__card__name {
  color: #042744;
  font-weight: 700;
  font-size: 20px;
}

.review__card__work {
  margin-top: -30px;
  color: #586571;
  font-size: 14px;
}

.review__card__descr {
  color: #586571;
  font-size: 16px;
}

/*SLICK*/

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -102px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 30px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  background: #ffd5bd;
  content: "";
  width: 18px;
  height: 1px;
  transition: all 0.5s;
  border: none;
}

.slick-dots li.slick-active button {
  background: #ff5c00;
  width: 34px;
}

/*SLICk Buttons*/

.slick-prev.slick-arrow {
  z-index: 1;
  content: "";
  position: absolute;
  font-size: 0;
  line-height: 0;
  background: url("img/front-page/icon/right-arrow.svg") no-repeat;
  border: none;
  width: 33px;
  height: 33px;
  top: 50%;
  transform: rotate(180deg);
}

.slick-next.slick-arrow {
  content: "";
  position: absolute;
  font-size: 0;
  line-height: 0;
  background: url("img/front-page/icon/right-arrow.svg") no-repeat;
  border: none;
  width: 33px;
  height: 33px;
  top: 50%;
  right: 0;
}

/*END*/

@media only screen and (max-width: $screen-m) {
  .background {
    overflow: hidden;
    min-width: $screen-xxs;
  }

  .middle {
    margin-top: 60px;
    grid-row-gap: 35px;
    padding: 0 20px;
  }

  .middle__cart {
    grid-template-columns: auto;
  }

  .middle__cart__item {
    margin: 0 auto;
  }

  .middle__cart__but {
    margin-top: 10px;
  }

  /*exchange*/

  .exchange {
    grid-template-columns: auto;
    margin: 0 20px;
  }

  .exchange__wrap {
    padding-top: 0;
    margin-top: 70px;
  }

  .exchange__text {
    padding-top: 0;
    grid-row-gap: 40px;
  }

  .exchange__about {
    row-gap: 5px;
  }

  .exchange__about__text {
    font-size: 12px;
  }

  .exchange__line {
    width: 50px;
  }

  .exchange__use {
    font-size: 24px;
    text-align: center;
  }

  .exchange__img {
    position: relative;

    img {
      width: 100%;
      top: -10px;
      z-index: -1;
      display: block;
      margin: 0 auto;
    }
  }

  .exchange__descr__title {
    font-size: 16px;
  }

  .exchange__descr__text {
    font-size: 10px;
  }

  .exchange__descr__item {
    grid-column-gap: 13px;

    img {
      max-width: 34px;
    }
  }

  /*STATIC*/

  .static__wrap {
    margin-top: 60px;
    background: url("img/front-page/exchange/count__mobile.png") no-repeat center;
    background-size: cover;
  }

  .static {
    grid-template-columns: auto;
    padding: 80px 40px;
    row-gap: 60px;
  }

  .static__num {
    font-size: 40px;
  }

  .static__text {
    font-size: 16px;
  }

  /*HOW*/

  .how__wrap {
    padding-top: 60px;
  }


  .how__static {
    display: none;
  }

  .how__static__mobile {
    display: grid;
    grid-template-columns: auto;
    margin-top: 85px;
    position: relative;
  }

  .how__line {
    width: 50px;
  }

  .how__title {
    grid-template-columns: 50px auto;
  }

  .how__about__text {
    font-size: 12px;
  }

  .how__work {
    font-weight: 800;
    font-size: 24px;
  }

  .how__mobile {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
  }

  .how__adv__table {
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    grid-auto-rows: 30px;
  }

  .how__adv__line {
    margin-right: 0;
    margin-left: auto;
    display: grid;
    align-items: center;
    row-gap: 50px;
    grid-template-rows: 30px;
  }

  .how__adv__round {
    position: relative;
    content: "";
    width: 9px;
    height: 9px;
    background: $orange;
    border-radius: 5px;
  }

  .how__adv__round:before,
  .how__adv__round:after {
    position: absolute;
    z-index: -1;
    content: "";
    background: $light_orange;
    width: 1px;
    height: 50px;
    right: 4px;
  }

  .how__adv__round:before {
    top: -50px;
  }

  .how__adv__round:after {
    top: 9px;
  }

  .how__adv__row {
    display: grid;
    grid-template-columns: 123px auto;
    column-gap: 15px;
  }

  .how__adv__row__line {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
  }

  .how__adv__line__short {
    grid-template-columns: 50px auto;

    .how__adv__row__line {
      grid-template-columns: 25px auto;
    }
  }

  .how__adv__row__lin {
    content: "";
    background: $light_orange;
    width: 100%;
    height: 1px;
  }

  .how__adv__row__num {
    padding: 6px 10px;
    background: $orange;
    border-radius: 15px;
    margin: 0 auto 0 0;
    font-weight: 800;
    font-size: 10px;
    color: $white;
  }

  .how__adv__row__text {
    color: $blue;
    font-weight: 600;
    font-size: 13px;
  }

  .how__static__panel,
  .how__static__panel__web {
    margin: 0 auto;
    position: absolute;
    right: 150%;
    left: -150%;
    z-index: -1;
    transition: all 0.5s linear;
  }

  .how__static__panel__web {
    right: -150%;
    left: 150%;
  }

  .how__static__panel__active {
    z-index: 1;
    right: 0;
    left: 0;
  }

  .how__buttons {
    margin-top: 596px;
    grid-template-columns: 140px 140px;
  }

  .how__footer {
    margin-top: 80px;
  }

  .how__footer__text {
    font-size: 22px;
    row-gap: 40px;
  }

  .how__footer__button {
    font-size: 10px;
    padding: 9px 17px;
  }

  /*Best Ref*/

  .best__ref__wrap {
    margin-top: 69px;
    padding-bottom: 60px;
  }

  .best__ref__header {
    margin: 60px 55px 0 55px;
    row-gap: 17px;
  }

  .best__ref__title {
    font-size: 24px;
  }

  .best__ref__des {
    font-size: 10px;
  }

  .best__ref__cards {
    grid-template-columns: auto;
    row-gap: 40px;
    margin: 50px 20px 0 20px;
  }

  .best__ref__per {
    font-size: 80px;
  }

  .best__ref__about {
    font-size: 18px;
  }

  .best__ref__button {
    margin-top: 50px;
    font-size: 10px;
    padding: 9px 17px;
  }

  /* Review */

  .review__wrap {
    padding-top: 60px;
    row-gap: 40px;
    margin-bottom: 60px;
  }

  .review__header {
    margin: 0 67px;
  }

  .review__about {
    grid-template-columns: auto 80px auto;
  }

  .review__card__header {
    grid-template-columns: 53px auto;

    img {
      width: 100%;
    }
  }

  .review__line {
    width: 50px;
  }

  .review__about__text {
    font-size: 12px;
  }

  .review__descr {
    text-align: center;
    font-size: 24px;
  }

  .review__cards__wrap {
    width: 100%;
    margin: 0 auto;
    row-gap: 40px;
  }

  .review__slider__inner {
    width: 100%;
    min-width: 241px;
  }

  .review__card__name {
    font-size: 12px;
  }

  .review__card__work {
    font-size: 8px;
  }

  .review__card__descr {
    font-size: 12px;
    line-height: 21px;
  }

  .review__slider__item {
    height: 2px;
    width: 13px;
  }

  .review__slider__active {
    width: 26px;
  }
  /*SLIKS*/
  .slick-dots {
    bottom: -60px;
  }
}
